<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Stok - Fargo</title>
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{{ STATIC_URL }}js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/hideshow.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>


<body>

	
	
	<section id="loginpage" class="column" style="width:750px;left:50%;margin-left:325px;">
		
		
		<article class="module width_full">
			<header><h3>GİRİŞ YAP</h3></header>
			<div class="module_content">
						<form action="" method="POST">
	{% csrf_token %}
	<table>
	<tr><td>{{form.username.label_tag}}</td><td>{{form.username}}</td></tr>
	<tr><td>{{form.password.label_tag}}</td><td>{{form.password}}</td></tr>
	</table>
	<input type="submit" value="Giriş">
	</form>
				<div class="clear"></div>
			</div>
		</article><!-- end of stats article -->
		
		

</body>

</html>