Display Products
{{request.user.get_full_name}}
<table>
{% for product in products %}
<tr><td>{{product.name}}</td>
<td><a href="/editproduct/?id={{product.id}}"> Edit </a> </td>
<td><a href="/deleteproduct/?id={{product.id}}">Delete</a></td>
</tr>
{% endfor %}
</table>